*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
compiler.xml
libraries
misc.xml
modules
modules.xml
play2_project_settings.xml
sbt.xml
scala_compiler.xml
uiDesigner.xml
vcs.xml
workspace.xml

# ensime specific
.ensime
.ensime_cache
project/.ensime
project/.ensime_cache

